.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .clock-wrapper {
        font-size: 5em;
        color: $burgundy;
        filter: drop-shadow(.2em .2em .1em black)
    }
}